{
  "extends": '../.eslintrc',

  "settings": {
    "import/core-modules": [ "expo", "react-native-tab-view-dgjoy", "react-native-tab-view-dgjoy/types" ]
  },

  "rules": {
    "react/prop-types": "off",
  }
}
